html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Open Sans', arial, sans-serif;
	line-height: 1.2;
	font-size: 16px;
    max-width: 100vw;
}

button {
    margin-top: 10px; 
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: .9rem;
}

#titlediv {
    background-color: #2a52be;
    padding: 20px;
}

#maintitle {
    width:fit-content;
    margin: 0;
    padding: 0;
    color: white;
}

#maintitle:hover {
    cursor: pointer;
}

fieldset {
    color: white;
    border-color: white;
}

#menudiv {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    background-color: #2a52be;
    padding: 20px;
    height: 100vh;
}

.menuitem {
    margin-bottom: 1rem;
}

#maindiv {
    width: 74%;
    display: inline-block;
    padding: 2% 0 0 0;
}

#employeenames {
    margin: 2% 0 2% 0;
}

#maincanvas {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: space-evenly;
}

.carddiv {
    border: 1px solid black;
    padding: 1% 3% 3% 3%;
}

.crowndiv {
    height: 1rem;
}

.crowndiv p {
    margin: 0;
    float: right;
}

.sr_crowndiv {
    position: absolute;
    right: 15000px;
}

.picdiv {
    width: 50%;
    overflow: hidden;
    margin: 7.5% auto;
}

.picdiv img {
    width: 100%;
    border-radius: 100%;
    border: 1px solid black;
}

.namediv {
    text-align: center;
    font-size: 1.7rem;
}

.rolediv {
    border: 1px solid black;
    display: inline-block;
    padding: 1.2% 6% 1.2% 6%;
    font-size: .8rem;
    margin: .2rem .5rem .2rem 0;
}

.rolediv p {
    -webkit-text-stroke: .75px black;
    margin: 0;
}

@media screen and (max-width: 1200px) {

    #menudiv {
        width: 30%;
        height: 100%;
    }

    #maindiv {
        width: 69%;
    }

    #maincanvas {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-auto-rows: 1fr;
        gap: 1rem;
        justify-content:space-evenly;
    }
}

@media screen and (max-width: 750px) {

    #menudiv {
      display: block;
      width: 100%;
      height: 100%;
    }

    #maindiv {
        width: 100%;
        padding: 10px;
    }

    #maincanvas {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 1fr;
        gap: 1rem;
        justify-content:center;
    }
}